<div class="row">
    <div class="col-md-8 mb-4 offset-md-2">
        <div class="card h-100 shadow" *ngIf="productId">
            <img [src]="productobj.pimage" class="card-img-top" [alt]="productobj.pname"
                style="height: 250px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{productobj.pname}}</h5>
                <p class="card-text text-muted">{{productobj.pdescription}}</p>
                <h4 class="text-success">₹{{productobj.pprice}}</h4>
                <p>
                    <strong>Product ID :</strong>
                    {{productobj.pid}}
                </p>
                <span class="badge p-2" [ngClass]="{ 
                                    'bg-warning': productobj.pstatus === 'In-Progress',
                                    'bg-primary': productobj.pstatus === 'Dispatched',
                                    'bg-success': productobj.pstatus === 'Delivered'

                }">{{productobj.pstatus}}</span>
            </div>
            <div class="card-footer text-center">
                <div class="d-grid gap-2">
                    <button [routerLink]="['/products', productId,'edit']" class="btn btn-outline-warning mr-3"
                        (click)="redirectToEdit()">Edit</button>
                    <button class="btn btn-outline-danger mr-3" (click)="onRemove()">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>