<div class="container-fluid">
    <div class="navbar-custom px-3">
        <div class="col-md-4">
            <div class="navbar-brand fw-bold fs-3" routerLink="home">
                NavBar
            </div>
        </div>
        <div class="col-md-8">
            <ul class="navbar-menu">
                <li class="mr-3"><a routerLink="home" [class.active-link]="router.url === '/home'">Home</a></li>
                <li class="mr-3"><a (click)="ongouser()"[class.active-link]="router.url.startsWith('/users')">Users</a></li>
                <li class="mr-3"><a (click)="ongoUpdate()" [class.active-link]="router.url.startsWith('/products')">Products</a></li>
                <li class="mr-3"><a (click)="ongofairs()"[class.active-link]="router.url.startsWith('/fairs')">Fairs</a></li>
                <strong class="text-black badge-warning p-2" style="border-radius: 5px;">{{userRole}}</strong>

                <button (click)="onLogOut()" class="text-black" mat-raised-button color="warn">Log out</button>
            </ul>
        </div>
    </div>
</div>